.mainPage{
    flex-grow: 1;
    
    margin-left: 50px;
    margin-right: 50px;
}

.myBackground{
    background-image: black;
    text-align: center;
    color: black;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    max-height: 900px;
}

.grid{
    margin-left: 20px;
    margin-right: 20px;
}

.gridItem{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}